/* This is my CSS */

body {
    background-color: #fffffe;
}

#main-page-title {
    text-align: center;
}

p {
    color: #2d334a;
}

h1, h2, h3, h4 {
    color: #272343;
}

button {
    background-color: #ffd803;
    color: #272343;
}

a {
    color: #ffd803;
}

