/* This is my CSS */

body {
    background-color: #fffffe;
}

nav p, span{
    color: white !important;
}

p {
    color: #2d334a;
}

h1, h2, h3, h4 {
    color: #272343;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
}

button:hover {
    background-color: white;
    color: black;
}

a {
    color: #ffd803;
}

.fade-in {
    animation-name: fade-in-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.intro-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro-content-img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: brightness(0.5)
}

.title-card {
    display: flex;
    flex-direction: column;
    width:200px;
}

.title-card button {
    align-self: flex-end;
}

@keyframes fade-in-animation {
    0% {
        margin-left: 100px;
        opacity: 0%;
        filter: blur(2px)
    }
    100% {
        margin-left: 0px;
        opacity: 100%;
        filter: blur(0px)
    }
}

@media (min-width: 700px){ /*Desktop size */
    .title-card {
        width:500px;
    }
}

/* #test {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    0% {
        background-color: blue;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: orange;
    }
} */



